<h2>{{'Recordings'|t}}</h2>

<style>
  .ui-dialog{
    height: {{display_options.modal.height}} !important;
  }
  .ui-dialog-content{
    max-height: none !important;
    position: absolute !important;
    top: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  .block-virtual-events-block .btn.join-meeting{
    width: auto;
    margin: 27px auto;
  }
</style>
  
{% if recordings%}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Recording from</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for recording in recordings %}
      <tr>
        <td class="recording__position">
          {{ recording.recording_position }}
        </td>
        <td class="recording__label">
          <a class="meeting-recording use-ajax"
           data-dialog-options="{&quot;width&quot;:&quot;{{display_options.modal.width}}&quot;}"
           data-dialog-type="modal"
           href="{{ url }}/{{ recording.recording.recordID }}">           
            Show meeting from {{ recording.recording_date }}
          </a>
        </td>
        <td class="recording__delete">
          {{ recording.delete_form }}
        </td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <h3>No Recordings available</h3>
{% endif %}
